.full-width {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.hide_before_after {
  &:after {
    display: none;
  }
  &:before {
    display: none;
  }
}
.default-input {
  width: 100%;
  padding: 15px 15px 15px 65px;
  font-size: 1.2em;
  color: $medium-gray;
  border: 1px solid transparent;
  border-radius: 5px;
  background: $off-white;
}